<template>
  <div id="app">
    <nav
      class="navbar"
      style="border-bottom: 1px solid black"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="title">
            <router-link to="/">bgg-trader</router-link>
          </h1>
        </div>
      </div>
      <div class="navbar-start">
        <router-link to="/about" class="navbar-item">About</router-link>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">Please take my games</div>
        </div>
      </div>
    </nav>
    <router-view />
  </div>
</template>
<script>
export default {
  watch: {
    '$route': {
      handler: (to) => {
        let title = 'bgg-trader'

        if(to.name === 'Trades') title += ` | ${to.params.username}`
        document.title = title
      },
      immediate: true
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

html,
body {
  background-color: #ddd;
  height: 100%;
}
</style>
