<template>
  <div class="container">
    <div v-if = "loading"><div class="loader is-loading" style="width:100px;height:100px;background-color:#0eb;"></div></div>
    <div v-else-if = "errorMessage===''" class="columns is-multiline">
      <div class="column is-6" v-for="item in collection.data.items.item" v-bind:key="item.objectid">
        <CollectionItem :item="item"/>
      </div>
      <div v-if="collection.data.items.$.totalitems === '0'">
        <p class="subtitle is-danger">User has no items listed for trade! How selfish :(</p>
      </div>
    </div>
    <div v-else><p class="subtitle is-danger">{{errorMessage}}</p></div>

  </div>
</template>

<script>
import apiClient from '../apiClient.js'
import CollectionItem from './CollectionItem.vue'

export default {
  name: 'CollectionList',
  props: {
    user: String
  },
  components: {
    CollectionItem
  },
  data() {
    return {
      collection: {},
      loading: true,
      errorMessage: ''
    }
  },
  async mounted() {
    try {
      this.collection = await apiClient.getUser(this.user)
      this.loading = false
      if('errors' in this.collection.data) throw "Oops"
    } catch (_) {
      this.errorMessage = `Ruh-roh. Unable to get trades for ${this.user}. Are you sure they're a BGG user?`
    }
  },
  methods: {
    getName(game) {
      return game.name.find
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {

  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
