<template>
  <div class="hello">
    <div v-if="loading"><br/><div class="loader is-loading"></div></div>
    <div v-if="'data' in details && !loading">
      <br/>
      <div class="columns is-hidden-touch">
        <div class="image column">
          <img class="icon" src="@/assets/rating.png" title="Rating"/>
          <h2 class="on-image"><span>{{rating()}}</span></h2>
        </div>
        <div class="image column">
          <img class="icon" src="@/assets/players.png" title="Num Players"/>
          <h2 class="on-image"><span>{{details.data.minplayers[0].$.value}} - {{details.data.maxplayers[0].$.value}}</span></h2>
        </div>
        <div class="image column">
          <img class="icon" src="@/assets/time.jpg" title="Playtime"/>
          <h2 class="on-image"><span>{{playTime()}}</span></h2>
        </div>
        <div class="image column">
          <img class="icon" src="@/assets/weight.png" title="Weight"/>
          <h2 class="on-image"><span>{{weight()}}</span></h2>
        </div>
      </div>
      <ul class="is-hidden-desktop">
        <li><strong>Rating:</strong> {{rating()}}</li>
        <li><strong>Players:</strong> {{details.data.minplayers[0].$.value}} - {{details.data.maxplayers[0].$.value}}</li>
        <li><strong>Play Time:</strong> {{playTime()}}</li>
        <li><strong>Weight:</strong> {{weight()}}</li>
      </ul>
      <ul>
        <li><strong>Published:</strong> {{details.data.yearpublished[0].$.value}}</li>
        <li><strong>Categories:</strong> {{categories()}}</li>
        <li><strong>Mechanics:</strong> {{mechanics()}}</li>
        </ul>
        <strong>Description:</strong>
        <div  v-html="renderDescription()"/>
        <div class="button is-secondary" @click="toggleSnippet()">{{toggleSnippetMessage}}</div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'CollectionItemDetails',
  props: {
    details: Object,
    loading: Boolean
  },
  data() {
    return {
      showSnippet: true,
      toggleSnippetMessage: "Show More"
    }
  },
  async mounted() {
  },
  methods: {
    toggleSnippet() {
      this.showSnippet = !this.showSnippet
      this.toggleSnippetMessage = (this.showSnippet) ? "Show More" : "Show Less"
    },
    renderDescription() {
      const withLineBreaks = this.details.data.description[0].replace(/&#10;/g, "<br/>")
      if(this.showSnippet && withLineBreaks.length > 500) {
        return withLineBreaks.substring(0, 500) + '...'
      } else {
        return withLineBreaks
      }
    },
    categories() {
      return this.details.data.link.filter(l => l.$.type === 'boardgamecategory').map(l => l.$.value).join(', ')
    },
    mechanics() {
      return this.details.data.link.filter(l => l.$.type === 'boardgamemechanic').map(l => l.$.value).join(', ')
    },
    playTime() {
      const minTime = this.details.data.minplaytime[0].$.value
      const maxTime = this.details.data.maxplaytime[0].$.value

      if(minTime===maxTime) return `${minTime}min`
      return `${minTime} - ${maxTime}min`
    },
    rating() {
      const rating = this.details.data.statistics[0].ratings[0].average[0].$.value

      const roundedRating = Number(rating).toFixed(2)
      return `${roundedRating}/10`
    },
    weight() {
      const weight = this.details.data.statistics[0].ratings[0].averageweight[0].$.value

      const roundedWeight = Number(weight).toFixed(2)
      return `${roundedWeight}/5`
    }
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.image {
   position: relative;
}
.icon {
  width: 100px;
  height: 100px;
  margin-left:auto;
  margin-right:auto;
}
.on-image {
  position: absolute;
  bottom: 0px;
  color: white;
  left: 10px;
  width: 100%;
}
.on-image span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 3px;
}
</style>
