<template>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image">
            <img :src="item.thumbnail" alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{item.name[0]._}}</p>
          <p class="subtitle is-4">
            <span>{{comment}}</span>
          </p>
        </div>
      </div>

      <div class="content">
        <div
          class="button is-primary is-pulled-left"
          v-if="!loaded"
          @click="loadDetails(item.$.objectid)"
        >Load Details</div>
        <div class="button is-primary is-pulled-left" v-else @click="clearDetails()">Close Details</div>
        <a :href="gameLink" target="_blank" class="is-pulled-right align-bottom">view on bgg</a>
        <div class="is-clearfix"/>
        <CollectionItemDetails :details="details" :loading="loading" />
      </div>
    </div>
  </div>
</template>

<script>
import apiClient from "../apiClient.js";
import CollectionItemDetails from "./CollectionItemDetails.vue";

export default {
  name: "CollectionItem",
  props: {
    item: Object,
  },
  components: {
    CollectionItemDetails,
  },
  data() {
    return {
      loading: false,
      loaded: false,
      details: {},
    };
  },
  async mounted() {},
  computed: {
    gameLink() {
      return `https://boardgamegeek.com/boardgame/${this.item.$.objectid}`;
    },
    comment() {
      return "comment" in this.item && this.item.comment.length > 0
        ? this.item.comment[0]
        : "";
    },
  },
  methods: {
    async loadDetails(game) {
      this.loading = true;
      let gameInfo = await apiClient.getGame(game);
      this.loading = false;
      (this.details = gameInfo), (this.loaded = true);
    },
    clearDetails() {
      this.details = {};
      this.loaded = false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
