<template>
  <div class="container">
    <h1 class="title">
      bgg-trader
    </h1>
    <h2 class="subtitle">
      input a bgg username to view their items for trade
    </h2>
    <form @submit.prevent="viewSearch()">
    <div class="field">
      <div class="control">
        <input :class="textboxClass" type="text" placeholder="bgg username" v-model="username">
      </div>
    </div>
    <div class="button is-primary" :disabled="!isValid()" @click="viewSearch()">Submit</div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'TradeBar',
  data() {
    return {
      username: '',
      error: ''
    }
  },
  computed: {
    textboxClass() {
      const baseClasses = ['input', 'is-large']
      if (!this.isValid()) baseClasses.push('is-danger')
      return baseClasses
    },
  },
  methods: {
    isValid() {
      return (this.username.match(/^[A-Za-z]{1}[A-Za-z0-9_]{3,19}$/))
    },
    viewSearch() {
      if(!this.isValid()) return
      this.$router.push({ name: 'Trades', params: { username: this.username } })
    }
  }
}
</script>
