<template>
  <div class="about">
    <section class="section">
      <h1 class="subtitle">What is this?</h1>
      <p>
        I just wanted somewhere pretty to point people to so they can view my active
        listed trades. Especially if they aren't bgg users, sending them to my collection
        page - even filtered - seemed like a losing battle.
      </p>
      <br/>
      <p>
        This pulls a user's collection through
        <a href="https://boardgamegeek.com/wiki/page/BGG_XML_API2" target="_blank">the BGG API</a>
        (cached for 4 hours) and displays games in `For Trade` status in an at-least-semi-pleasant
        format. It also shows anything the BGG user has placed under "Comment"
        alongside the game.
      </p>
      <br/>
      <p>
        Hitting "Load Details" loads basic game info from the BGG API. This information
        is cached for a week.
      </p>
      <br/>
      <p>
        The other motive for this was to help me (re-)learn Vue, so uh lemme know if
        something looks bad or is broken.
      </p>
      <br/>
      <p>
        Direct any comments to me at <a href="mailto:norm@iwritethe.codes">norm@iwritethe.codes</a>
        or on the Fediverse <a href="https://social.fedi.farm/@norm">@norm@fedi.farm</a>.
      </p>
    </section>
  </div>
</template>
