<template>
  <div class="home">
    <section class="section">
      <TradeBar/>
    </section>
  </div>
</template>

<script>
import TradeBar from '@/components/TradeBar.vue'

export default {
  name: 'Home',
  components: {
    TradeBar
  }
}
</script>
