<template>
  <div class="home">
    <section class="section">
        <h1 class="title">{{username}} - items for trade</h1>
        <h3 class="subtitle">
          <a :href="messageUrl" target="_blank">&#x2709; Message {{username}} on BGG</a>
        </h3>
        <CollectionList v-if="isValid()" :user="username"/>
        <div v-else>This doesn't look like a valid BGG username!</div>
    </section>
  </div>
</template>

<script>
import CollectionList from '../components/CollectionList.vue'

export default {
  name: 'Trades',
  components: {
    CollectionList
  },
  data() {
    return {
      username: ''
    }
  },
  mounted() {
    this.username = this.$route.params.username
  },
  computed: {
    messageUrl () {
      return `https://boardgamegeek.com/geekmail/compose?touser=${this.username}`
    }
  },
  methods: {
    isValid() {
      return (this.username.match(/^[A-Za-z]{1}[A-Za-z0-9_]{3,19}$/))
    },
  }
}
</script>
